<div class="card purple lighten-4 chat-room">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row px-2">
            <!-- Grid column -->
            <div class="col-md-6 col-xl-12 pr-md-4 px-lg-auto px-0">
                <div class="chat-message" *ngFor="let message of listeMessages">
                    <div class="list-unstyled chat">
                        <div class="d-flex justify-content-between mb-4" *ngIf="message.user !== apiService.connectedUser._id">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-0 z-depth-1" />
                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                <div class="header">
                                    <strong class="primary-font">PAUL RESA</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i>
                    {{ message.createdDate | date }} ago</small
                  >
                </div>
                <hr class="w-100" />
                <p class="mb-0">{{ message.content }}.</p>
              </div>
            </div>
            <div
              class="d-flex justify-content-between mb-4"
              *ngIf="message.user === apiService.connectedUser._id"
            >
              <div class="chat-body white p-3 z-depth-1">
                <div class="header">
                  <strong class="primary-font">{{
                    apiService.connectedUser.name
                  }}</strong>
                  <small class="pull-right text-muted"
                    ><i class="far fa-clock"></i>
                    {{ message.createdDate | date }} ago</small
                  >
                </div>
                <hr class="w-100" />
                <p class="mb-0">{{ message.content }}.</p>
              </div>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                alt="avatar"
                class="avatar rounded-circle mr-0 ml-3 z-depth-1"
              />
            </div>
          </div>
        </div>
        <form [formGroup]="messageForm">
          <div class="white">
            <div class="form-group basic-textarea">
              <textarea
                formControlName="content"
                class="form-control pl-2 my-0"
                id="exampleFormControlTextarea2"
                rows="3"
                placeholder="Type your message here..."
              ></textarea>
            </div>
          </div>

          <button
            (click)="sendMessage()"
            type="submit"
            class="btn btn-deep-purple btn-rounded btn-sm waves-effect waves-light float-right"
          >
            Send
          </button>
        </form>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>
