<div class="card grey lighten-3 chat-room">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row px-lg-2 px-2">
            <!-- Grid column -->
            <div class="col-md-6 col-xl-4 px-0">
                <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6>
                <div class="white z-depth-1 px-3 pt-3 pb-0">
                    <ul class="list-unstyled friend-list" *ngFor="let user of listeUsers">
                        <li class="active grey lighten-3 p-2">
                            <a href="#" class="d-flex justify-content-between">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" />
                                <div class="text-small">
                                    <strong>{{ user.name }}</strong>
                                    <p class="last-message text-muted">Hello, Are you there?</p>
                                </div>
                                <div class="chat-footer">
                                    <p class="text-smaller text-muted mb-0">Just now</p>
                                    <span class="badge badge-danger float-right">1</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">
                <div class="chat-message">
                    <div class="list-unstyled chat" *ngFor="let message of listeMessages">
                        <div class="d-flex justify-content-between mb-4" *ngIf="message.user !== apiService.connectedUser._id">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1" />
                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                <div class="header">
                                    <strong class="primary-font">{{ message.user }}</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i> {{ message.createdDate | date
                    }}</small
                  >
                </div>
                <hr class="w-100" />
                <p class="mb-0">
                  {{ message.content }}
                </p>
              </div>
            </div>
            <div
              class="d-flex justify-content-between mb-4"
              *ngIf="message.user === apiService.connectedUser._id"
            >
              <div class="chat-body white p-3 z-depth-1">
                <div class="header">
                  <strong class="primary-font">{{ message.user }}</strong>
                  <small class="pull-right text-muted"
                    ><i class="far fa-clock"></i> {{ message.createdDate | date
                    }}</small
                  >
                </div>
                <hr class="w-100" />
                <p class="mb-0">{{ message.content }}.</p>
              </div>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                alt="avatar"
                class="avatar rounded-circle mr-0 ml-3 z-depth-1"
              />
            </div>
          </div>
          <form [formGroup]="messageForm">
            <div class="white">
              <div class="form-group basic-textarea">
                <textarea
                  formControlName="content"
                  class="form-control pl-2 my-0"
                  id="exampleFormControlTextarea2"
                  rows="3"
                  placeholder="Type your message here..."
                ></textarea>
              </div>
            </div>
            <button
              type="button"
              (click)="sendMessage()"
              type="submit"
              class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right"
            >
              Send
            </button>
          </form>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>
