<div class="container">
    <div class="container-fluid">
        <div style="margin-bottom: 2%"></div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class=" col-md-6 ">
                <img src="../../assets/fivep_logo_black_labs.png" />
            </div>
            <a *ngIf="apiService.connectedUser" class="btn btn-primary" [routerLink]="['/chat']">
        Go to chat
      </a>
        </div>
        <div style="margin-bottom: 2%"></div>
        <!-- Grid row -->
        <div class="row">
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Wide sample post image">
            </mdb-card-img>
        </div>

        <div style="margin-bottom: 2%"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class=" col-md-6 text-center">
                <h1>This is real time private chat</h1>
                <h4>Made with love</h4>
                <h6>By Five Points The Lab</h6>
            </div>
        </div>
    </div>
</div>
