<!-- Material form register -->
<mdb-card>
    <mdb-card-header class="aqua-color black-text text-center py-4">
        <h5>
            <strong>Sign up</strong>
        </h5>
    </mdb-card-header>
    <br />
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
        <!-- Form -->
        <form [formGroup]="registerForm" class="text-center" style="color: #757575;">
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form col-lg-8">
                        <input type="text" formControlName="name" id="materialRegisterFormFirstName" class="form-control" mdbInput />
                        <label for="materialRegisterFormFirstName">First name</label>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" formControlName="lastname" id="materialRegisterFormLastName" class="form-control" mdbInput />
                        <label for="materialRegisterFormLastName">Last name</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <!-- E-mail -->
                    <div class="md-form col-lg-8">
                        <input type="email" formControlName="email" id="materialRegisterFormEmail" class="form-control" mdbInput />
                        <label for="materialRegisterFormEmail">E-mail</label>
                    </div>
                </div>

                <!-- Password -->
                <div class="col-lg-5">
                    <div class="md-form">
                        <input type="password" formControlName="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInput />
                        <label for="materialRegisterFormPassword">Password</label>
                        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              At least 8 characters and 1 digit
            </small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <!-- E-mail -->
                    <div class="md-form col-lg-8">
                        <input type="text" formControlName="phone" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock" mdbInput />
                        <label for="materialRegisterFormPhone">Phone number</label>
                        <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
              Optional - for two-step authentication
            </small>
                    </div>
                </div>
                <!-- adress -->
                <div class="md-form  col-lg-5">
                    <input type="text" formControlName="adress" id="materialRegisterFormAdress" class="form-control" mdbInput />
                    <label for="materialRegisterFormAdress">Adress</label>
                    <small id="materialRegisterFormadressHelpBlock" class="form-text text-muted mb-4">
            Number of city , towns, country
          </small>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <!-- E-mail -->
                    <div class="md-form col-lg-8">
                        <!-- gender -->
                        <span>Gender</span>

                        <select formControlName="gender" class="browser-default custom-select mb-4 ">
              <option value="" disabled>Choose option</option>
              <option value="Male" selected>Male</option>
              <option value="Female">Female</option>
            </select>
                    </div>
                </div>

                <div class="md-form col-lg-5">
                    <!-- role -->
                    <span>Role</span>

                    <select formControlName="role" class="browser-default custom-select mb-4 ">
            <option value="" disabled>Choose option</option>
            <option value="client" selected>client</option>
          </select>
                </div>
            </div>
            <!-- Sign up button -->
            <button mdbBtn (click)="onSubmit()" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>
        Sign in
      </button>
        </form>
        <!-- Form -->
    </mdb-card-body>
</mdb-card>
<!-- Material form register -->
