<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/about">Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul *ngIf="!apiService.connectedUser" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        </ul>
        <ul *ngIf="apiService.connectedUser" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/chat">Liste Users</a>
            </li>
            <li class="nav-item-right">
                <a class="nav-link" href="javascript:void(0)">Hello {{ apiService.connectedUser.name }}</a
        >
      </li>
      <li class="nav-item-right">
        <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
