<!--Section: Features v.3-->
<section>
    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center">Why is it so great?</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>

    <!--Grid row-->
    <div class="row pt-2">
        <!--Grid column-->
        <div class="col-lg-5 text-center text-lg-left">
            <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0" />
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">
            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <a routerLinkActive="active" routerLink="/listEmploye">
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                            list Employe
                        </h5>
                    </a>

                    <p class="grey-text text-left">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <a routerLinkActive="active" routerLink="/listReclamation">
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                            list Reclamation
                        </h5>
                    </a>
                    <p class="grey-text text-left">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <a routerLinkActive="active" routerLink="/ajoutEmployes">
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                            Add Employes
                        </h5>
                    </a>
                    <p class="grey-text text-left">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>
<!--Section: Features v.3-->
