<!-- Material form register -->
<mdb-card>
    <mdb-card-header class="aqua-color black-text text-center py-4">
        <h5>
            <strong>RECLAMATION</strong>
        </h5>
    </mdb-card-header>
    <br />
    <!--Card content-->
    <mdb-card-body>
        <form [formGroup]="reclamationForm" class="text-center" style="color: #757575;">
            <div class="form-row">
                <div class="col-lg-6">
                    <!-- Title -->
                    <div class="md-form">
                        <input type="text" id="form8" class="form-control" formControlName="title" mdbInput />
                        <label for="form8">Title</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-6">
                    <!-- Title -->
                    <div class="md-form">
                        <!-- typeChoose -->
                        <span>Type Choose</span>

                        <select formControlName="typeChoose" #t (change)="callType(t.value)" class="browser-default custom-select mb-4">
              <option value="" disabled>Choose your option</option>
              <option value="Back-End" selected>Back-End</option>
              <option value="Front-End">Front-End</option>
            </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-6">
                    <!-- Title -->
                    <div class="md-form">
                        <!-- level -->
                        <span>Level</span>

                        <select formControlName="level" #tv (change)="callTypeValidate(tv.value)" class="browser-default custom-select mb-4">
              <option value="" disabled>Open this select menu</option>
              <option value="low" selected>low</option>
              <option value="medium">medium</option>
              <option value="high">high</option>
            </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- subject -->
                    <!--Textarea with icon prefix-->
                    <div class="md-form">
                        <textarea type="text" id="form8" class="md-textarea form-control" formControlName="subject" mdbInput></textarea>
                        <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
                        <label for="form8">Subject</label>
                    </div>
                </div>
            </div>

            <!-- Sign up button -->
            <button mdbBtn (click)="onSubmit()" mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>
        Sign in
      </button>
        </form>
        <!-- Form -->
    </mdb-card-body>
</mdb-card>
<!-- Material form register -->
