<!-- Full Page Intro -->
<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">
                        Tasks To Perform CHEF.T.BACK
                    </h1>
                    <hr class="hr-light" />
                    <h6 class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.
                    </h6>
                    <a mdbBtn color="white" mdbWavesEffect>Download</a>
                    <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid" />
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
<div class="container">
    <!-- Reclamation list -->
    <table mdbTable #tableEl="mdbTable" class="z-depth-1 col-xl-12" *ngIf="Reclamation.length > 0">
        <thead>
            <tr>
                <th>
                    <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>
                    Type
                </th>
                <th>
                    <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>
                    TITLE
                </th>
                <th>
                    <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>
                    SUBJECT
                </th>
                <th>
                    <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>DATE
                </th>
                <th>
                    <mdb-icon fas icon="leaf" class="mr-2 teal-text" aria-hidden="true"></mdb-icon>EDIT
                </th>
                <th>
                    <mdb-icon fas icon="leaf" class="indigo-text" aria-hidden="true"></mdb-icon>List-Teck-Back
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reclamation of Reclamation; let i = index">
                <td>{{ reclamation.typeChoose }}</td>
                <td>{{ reclamation.title }}</td>
                <td>{{ reclamation.subject }}</td>
                <td>{{ reclamation.createdDate }}</td>
                <td scope="col">
                    <span class="edit" [routerLink]="['/Edit-Rec-Chef-Front/', reclamation._id]">
            <button type="button" class="btn btn-danger btn-sm">Edit</button>
          </span>
                </td>

                <td scope="row">
                    <form [formGroup]="EditForm">
                        <select formControlName="tech_Front" (change)="onSubmit(reclamation._id)">
              <option
                *ngFor="let Employe of Employes; let i = index"
                [value]="Employe._id"
                >{{ Employe.name }}</option
              >
            </select>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
