<!-- Main navigation -->
<header>
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row mt-5">
                    <!--Grid column-->
                    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">
                            Sign in!
                        </h1>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s" />
                        <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.
                        </h6>
                        <a mdbBtn color="white" outline="true" mdbWavesEffect class="wow fadeInLeft" data-wow-delay="0.3s">Learn more</a
            >
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <form [formGroup]="loginForm">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="white-text"></mdb-icon>
                      Sign in:
                    </h3>
                    <hr class="hr-light" />
                  </div>

                  <div class="md-form">
                    <mdb-icon
                      fas
                      icon="envelope"
                      class="prefix white-text active"
                    ></mdb-icon>
                    <input
                      type="email"
                      id="form2"
                      formControlName="email"
                      class="text-white form-control"
                      mdbInput
                    />
                    <label for="form2" class="text-white">Your email</label>
                    <div
                      *ngIf="loginForm.hasError('required', 'email')"
                      style="color: red"
                    >
                      Your email is required
                    </div>
                    <div
                      *ngIf="
                        !loginForm.hasError('required', 'email') &&
                        loginForm.hasError('email', 'email')
                      "
                      style="color: red"
                    >
                      Your email is invalid
                    </div>
                  </div>
                  <div class="md-form">
                    <mdb-icon
                      fas
                      icon="lock"
                      class="prefix text-white active"
                    ></mdb-icon>
                    <input
                      type="password"
                      id="form4"
                      formControlName="password"
                      class="text-white form-control"
                      mdbInput
                    />
                    <label for="form4" class="text-white">Your password</label>
                  </div>
                  <div class="text-center mt-4">
                    <button
                      (click)="onSubmit()"
                      mdbBtn
                      color="indigo"
                      mdbWavesEffect
                    >
                      Sign up
                    </button>

                    <hr class="hr-light mb-3 mt-4" />
                    <div
                      class="inline-ul text-center d-flex justify-content-center"
                    >
                      <a class="p-2 m-2 tw-ic">
                        <mdb-icon
                          fab
                          icon="twitter"
                          class="white-text"
                        ></mdb-icon>
                      </a>
                        <a class="p-2 m-2 li-ic">
                            <mdb-icon fab icon="linkedin-in" class="white-text">
                            </mdb-icon>
                        </a>
                        <a class="p-2 m-2 ins-ic">
                            <mdb-icon fab icon="instagram" class="white-text">
                            </mdb-icon>
                        </a>
                    </div>
                </div>
                </form>
                </mdb-card-body>
                </mdb-card>
                <!--/.Form-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
