<!-- Material form register -->
<mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
            <strong>Reclamation</strong>
        </h5>
    </mdb-card-header>
    <br />
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
        <!-- Form -->
        <form [formGroup]="EditForm" class="text-center" style="color: #757575;">
            <div class="form-row">
                <div class="col">
                    <textarea type="text" id="form7" formControlName="PV" class="md-textarea form-control" mdbInput></textarea>
                    <label for="form7">PV</label>
                </div>
                <div class="col">
                    <span>State</span>
                    <select formControlName="state" class="browser-default custom-select mb-4">
            <option value="not yet">not yet</option>
            <option value="valid">valid</option>
          </select>
                </div>
            </div>

            <!-- Sign up button -->
            <button mdbBtn (click)="onSubmit()" color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect>
        Submit
      </button>

            <a type="button" class="light-blue-text mx-2">
                <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <mdb-icon fab icon="heart"></mdb-icon>
            </a>

            <hr />

            <!-- Terms of service -->
            <p>
                By clicking <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>.
            </p>
        </form>
        <!-- Form -->
    </mdb-card-body>
</mdb-card>
<!-- Material form register -->
