<!-- Material form register -->
<mdb-card>
    <mdb-card-header class="Black-text text-center py-4">
        <h5>
            <strong>Sign Up</strong>
        </h5>
    </mdb-card-header>
    <br />
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
        <!-- Form -->
        <form [formGroup]="registerForm" class="text-center" style="color: #757575;">
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="name" mdbInput />
                        <label for="materialRegisterFormFirstName">First name</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" formControlName="lastname" id="materialRegisterFormLastName" class="form-control" mdbInput />
                        <label for="materialRegisterFormLastName">Last name</label>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="email" formControlName="email" id="materialRegisterFormEmail" class="form-control" mdbInput />
                <label for="materialRegisterFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" formControlName="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInput />
                <label for="materialRegisterFormPassword">Password</label>
                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
            </div>

            <!-- Phone number -->
            <div class="md-form">
                <input type="text" formControlName="phone" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock" mdbInput />
                <label for="materialRegisterFormPhone">Phone number</label>
                <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
          Optional - for two-step authentication
        </small>
            </div>
            <!-- gender -->
            <span>gender</span>

            <select formControlName="gender" class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="Male" selected>Male</option>
        <option value="Female">Female</option>
      </select>

            <!-- adress -->
            <div class="md-form mt-0">
                <input type="text" formControlName="adress" id="materialRegisterFormAdress" class="form-control" mdbInput />
                <label for="materialRegisterFormAdress">Adress</label>
                <small id="materialRegisterFormadressHelpBlock" class="form-text text-muted mb-4">
          Number of city , towns, country
        </small>
            </div>
            <!-- role -->
            <span>Role</span>

            <select formControlName="role" class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="ChefProjetFront" selected>ChefProjetFront</option>
        <option value="ChefProjetBack">ChefProjetBack</option>
        <option value="Conseiller">Conseiller</option>
        <option value="TechFront">TechFront</option>
        <option value="TechBack">TechBack</option>
      </select>

            <!-- Sign up button -->
            <button (click)="onSubmit()" mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>
        Sign in
      </button>
        </form>
        <!-- Form -->
    </mdb-card-body>
</mdb-card>
<!-- Material form register -->
