<br />
<div class="container">
    <!-- Employee list -->
    <table class="table table-bordered" *ngIf="Employes.length > 0">
        <thead class=" table color-block aqua-gradient z-depth-2 py-4 text-center white-text">
            <tr>
                <th scope="col">Name & last name</th>
                <th scope="col">Email</th>
                <th scope="col">phone</th>
                <th scope="col">role</th>
                <th scope="col center">Update</th>
                <th scope="col center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of Employes; let i = index">
                <th scope="row">{{ employee.name }}-{{ employee.lastname }}</th>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.role }}</td>
                <td class="text-center edit-block">
                    <span class="edit" [routerLink]="['/Edit-List-Emplyes/', employee._id]">
            <button
              mdbBtn
              type="button"
              color="success"
              rounded="true"
              outline="true"
              mdbWavesEffect
            >
              Edit
            </button>
          </span>
                </td>
                <td>
                    <span class="delete" (click)="removeEmployes(Employes, index)">
            <button
              mdbBtn
              type="button"
              color="danger"
              rounded="true"
              outline="true"
              mdbWavesEffect
            >
              Delete
            </button>
          </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
