<!-- Material form register -->
<mdb-card>
    <mdb-card-header class="aqua-color black-text text-center py-4">
        <h5>
            <strong>List Reclamation</strong>
        </h5>
    </mdb-card-header>
    <br />
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
        <!-- Reclamation list -->
        <table class="table table-bordered" *ngIf="Reclamation.length > 0">
            <thead class=" table color-block aqua-gradient z-depth-2 py-4 text-center white-text">
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Type</th>
                    <th scope="col center">Title</th>
                    <th scope="col center">Subject</th>
                    <th scope="col center">Level</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reclamation of Reclamation; let i = index">
                    <td>{{ reclamation.state }}</td>
                    <td>{{ reclamation.typeChoose }}</td>
                    <td>{{ reclamation.title }}</td>
                    <td>{{ reclamation.subject }}</td>
                    <td>{{ reclamation.level }}</td>
                </tr>
            </tbody>
        </table>
    </mdb-card-body>
</mdb-card>
<!-- Material form register -->
<hr />
<br />
