$gray-base: #000 !default;
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: #999999 !default; // #999999
$black-color: #3C4858 !default;
$body-bg: #fff !default;
$line-height-base: 1.428571429 !default; // 20/14
$font-size-base: 14px !default;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Roboto',
'Helvetica',
'Arial',
sans-serif !default;
$font-family-serif: 'Roboto Slab',
'Times New Roman',
serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 14px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1: 3.8em !default;
$font-size-h2: 2.6em !default;
$font-size-h3: 1.825em !default;
$font-size-h4: 1.3em !default;
$font-size-h5: 1.25em !default;
$font-size-h6: 0.9em !default;
$font-paragraph: 16px !default;
$font-size-navbar: 16px !default;
$font-size-small: 12px !default;
$margin-base: 15px !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
